<h2>Courses</h2>
<button (click)="getAllCourses()" class="coursebutton">All courses</button>
<button (click)="getFreeCourses()" class="coursebutton">Free courses</button>
<button (click)="getPaidCourses()" class="coursebutton">Paid courses</button>
<button (click)="getAvailableCourses()" class="coursebutton">Available courses</button>
<button (click)="getNotAvailableCourses()" class="coursebutton">Not Available courses</button>


<app-coursecomponent
[parentdata]="parentdata"
></app-coursecomponent>